## Deliverable 2. Create a Customer Travel Destinations Map.

In [90]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [91]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Mugur-Aksy,50.3500,90.5000,-8.91,69,10,6.15,RU,2022-01-30 01:17:35
1,1,Thompson,55.7435,-97.8558,-12.84,77,20,0.00,CA,2022-01-30 01:14:51
2,2,Cape Town,-33.9258,18.4232,70.21,69,0,5.01,ZA,2022-01-30 01:17:19
3,3,Ginda,30.6945,78.4932,37.72,30,0,8.08,IN,2022-01-30 01:17:36
4,4,Hilo,19.7297,-155.0900,76.80,69,0,7.00,US,2022-01-30 01:17:27

In [92]:
# 2. Prompt the user to enter minimum and maximum temperature criteria \
min_temp = float(
    input("What is the minimum temperature you would like for your trip? "))
max_temp = float(
    input("What is the maximum temperature you would like for your trip? "))

In [93]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Cape Town,-33.9258,18.4232,70.21,69,0,5.01,ZA,2022-01-30 01:17:19
3,3,Ginda,30.6945,78.4932,37.72,30,0,8.08,IN,2022-01-30 01:17:36
4,4,Hilo,19.7297,-155.0900,76.80,69,0,7.00,US,2022-01-30 01:17:27
5,5,Ushuaia,-54.8000,-68.3000,44.26,87,100,0.00,AR,2022-01-30 01:12:57
6,6,Mataura,-46.1927,168.8643,56.73,99,100,2.64,NZ,2022-01-30 01:13:02
7,7,Busselton,-33.6500,115.3333,77.09,60,7,13.00,AU,2022-01-30 01:17:16
8,8,Bireun,5.2030,96.7009,77.22,83,99,3.38,ID,2022-01-30 01:17:36
9,9,Rikitea,-23.1203,-134.9692,76.98,71,100,8.48,PF,2022-01-30 01:17:13
10,10,Korla,41.7597,86.1469,23.14,55,100,8.25,CN,2022-01-30 01:17:37
11,11,Kahului,20.8947,-156.4700,84.22,54,20,9.22,US,2022-01-30 01:13:52

In [94]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID       555
City          555
Lat           555
Lng           555
Max Temp      555
Humidity      555
Cloudiness    555
Wind Speed    555
Country       550
Date          555
dtype: int64

In [95]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [96]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
2   Cape Town      ZA     70.21 -33.9258   18.4232
3       Ginda      IN     37.72  30.6945   78.4932
4        Hilo      US     76.80  19.7297 -155.0900
5     Ushuaia      AR     44.26 -54.8000  -68.3000
6     Mataura      NZ     56.73 -46.1927  168.8643
7   Busselton      AU     77.09 -33.6500  115.3333
8      Bireun      ID     77.22   5.2030   96.7009
9     Rikitea      PF     76.98 -23.1203 -134.9692
10      Korla      CN     23.14  41.7597   86.1469
11    Kahului      US     84.22  20.8947 -156.4700

In [97]:
from config import g_key

# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 10000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [98]:
# 7. Drop the rows where there is no Hotel Name.
clean_df = hotel_df.dropna()
clean_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Cape Town,ZA,70.21,-33.9258,18.4232,Southern Sun Waterfront Cape Town
3,Ginda,IN,37.72,30.6945,78.4932,Anand Ganga
4,Hilo,US,76.80,19.7297,-155.0900,Hilo Hawaiian Hotel
5,Ushuaia,AR,44.26,-54.8000,-68.3000,Albatross Hotel
6,Mataura,NZ,56.73,-46.1927,168.8643,Southland Organic Farmstay
...,...,...,...,...,...,...
653,Bambanglipuro,ID,80.62,-7.9500,110.2833,Puri Brata
654,Lamu,KE,77.22,-2.2717,40.9020,Lamu House
655,Honningsvag,NO,29.97,70.9821,25.9704,Nordkapp Vandrerhjem
656,Ambilobe,MG,74.26,-13.2000,49.0500,Hôtel & Restaurant DIANA Ambilobe
657,Kisanga,TZ,72.39,-7.4362,37.7034,Sable Mountain Lodge | A Tent with a View Safaris

In [99]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/Weatherpy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_df.to_csv(output_data_file, index_label="City_ID")

In [100]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Cape Town,ZA,70.21,-33.9258,18.4232,Southern Sun Waterfront Cape Town
3,Ginda,IN,37.72,30.6945,78.4932,Anand Ganga
4,Hilo,US,76.80,19.7297,-155.0900,Hilo Hawaiian Hotel
5,Ushuaia,AR,44.26,-54.8000,-68.3000,Albatross Hotel
6,Mataura,NZ,56.73,-46.1927,168.8643,Southland Organic Farmstay
...,...,...,...,...,...,...
653,Bambanglipuro,ID,80.62,-7.9500,110.2833,Puri Brata
654,Lamu,KE,77.22,-2.2717,40.9020,Lamu House
655,Honningsvag,NO,29.97,70.9821,25.9704,Nordkapp Vandrerhjem
656,Ambilobe,MG,74.26,-13.2000,49.0500,Hôtel & Restaurant DIANA Ambilobe
657,Kisanga,TZ,72.39,-7.4362,37.7034,Sable Mountain Lodge | A Tent with a View Safaris

In [101]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_df[["Lat", "Lng"]]

In [102]:
# 11a. Add a marker layer for each city to the map.

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure.
fig

Figure(layout=FigureLayout(height='420px'))