In [38]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [39]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Khatanga,71.9667,102.5000,24.57,94,100,17.47,RU,2021-10-04 03:31:41
1,1,Rikitea,-23.1203,-134.9692,73.38,69,100,17.22,PF,2021-10-04 03:31:41
2,2,Santa Cruz Del Sur,20.7147,-77.9956,76.21,87,15,10.76,CU,2021-10-04 03:31:42
3,3,Taltal,-25.4000,-70.4833,59.61,67,0,3.27,CL,2021-10-04 03:31:42
4,4,Ambon,-3.6954,128.1814,84.34,79,40,8.05,ID,2021-10-04 03:31:42

In [40]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [52]:
gmaps.configure(api_key=g_key)

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(
    locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(
    locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(
    locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(
    input("What is the minimum temperature you would like for your trip? "))
max_temp = float(
    input("What is the maximum temperature you would like for your trip? "))

In [46]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Santa Cruz Del Sur,20.7147,-77.9956,76.21,87,15,10.76,CU,2021-10-04 03:31:42
4,4,Ambon,-3.6954,128.1814,84.34,79,40,8.05,ID,2021-10-04 03:31:42
6,6,Nago,26.5881,127.9761,89.76,59,3,16.98,JP,2021-10-04 03:31:43
7,7,Vaini,-21.2000,-175.2000,75.36,88,90,14.97,TO,2021-10-04 03:31:43
8,8,Sola,-13.8833,167.5500,84.87,74,53,4.61,VU,2021-10-04 03:31:43
12,12,Port Blair,11.6667,92.7500,84.58,70,39,9.15,IN,2021-10-04 03:31:45
13,13,Hilo,19.7297,-155.0900,84.27,78,90,9.22,US,2021-10-04 03:31:45
14,14,Banda Aceh,5.5577,95.3222,84.78,66,24,7.29,ID,2021-10-04 03:31:45
15,15,Dingle,10.9995,122.6711,76.12,95,100,5.39,PH,2021-10-04 03:31:45
18,18,Katsuura,35.1333,140.3000,82.51,68,1,10.85,JP,2021-10-04 03:31:46

In [47]:
preferred_cities_df.count()

City_ID       83
City          83
Lat           83
Lng           83
Max Temp      83
Humidity      83
Cloudiness    83
Wind Speed    83
Country       83
Date          83
dtype: int64

In [48]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[[
    "City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp      Lat       Lng Hotel Name
2   Santa Cruz Del Sur      CU     76.21  20.7147  -77.9956
4                Ambon      ID     84.34  -3.6954  128.1814
6                 Nago      JP     89.76  26.5881  127.9761
7                Vaini      TO     75.36 -21.2000 -175.2000
8                 Sola      VU     84.87 -13.8833  167.5500
12          Port Blair      IN     84.58  11.6667   92.7500
13                Hilo      US     84.27  19.7297 -155.0900
14          Banda Aceh      ID     84.78   5.5577   95.3222
15              Dingle      PH     76.12  10.9995  122.6711
18            Katsuura      JP     82.51  35.1333  140.3000

In [55]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.